/* https://flatuicolors.com/palette/defo */
:root {
    --snow: #ecf0f1;
    --blue: #3498db;
    --hover-blue: #2980b9;
    --dark-gray: #19242e;
    --light-gray: #34495e;
    --green: #2ecc71;
    --green-hover: #10dc7a;
    --red: #e74c3c;
    --red-hover: #ee5253;
    --orange: #e67e22;
    --orange-hover: #ef8f33;
}


body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: var(--dark-gray);
    color: var(--snow)
}

button {
    padding: 5px;
    outline: none;
    cursor: pointer;
    border: none;
}

.line{
    width: 100%;
    height: 50px;
    background-color: var(--blue);
    display: inline-flex;
    font-size: 1em;
}

.line button {
    color: var(--snow);
    text-decoration:none;    
    font-weight: bolder;
    text-transform: uppercase;
    transition: all 0.5s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: var(--blue);
}

.line button:hover {
    background-color: var(--hover-blue);
}

.topic-container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.bubble {
    margin: 15px;
    width: 200px;
    height: 100px;
    text-align: center;
    border-radius: 16px;
    background-color: var(--blue);
    color:var(--snow);
    text-transform: uppercase;
    font-size: 1em;
}

.bubble:hover {
    background-color: var(--hover-blue);
}

.game-main-container {
    margin-top: 5px;
    height: 90vh;
    display: flex;
    justify-content: center;
    font-size: 2vw;
}

.game-container {
    width: 75vw;
    height: 80vh;
    background-color: var(--light-gray);
    color: var(--snow);
    text-align: center;
    border-radius: 15px;
}


.game-question {
    margin-left: 5%;
    margin-right: 5%;
    height: 65%;
}


.game-buttons {
    margin-bottom: 5%;
    height: 20%;
    display: flex;
    justify-content: center;
}


.b {
    margin-left: 3vw;
    margin-right: 3vw;
    height: 10vh;
    width: 250px;
    border-radius: 16px;

    color:var(--snow);
    font-size: 60%;
}

.b.red{
    background-color: var(--red);
    transition: background-color 0.5s ease;
}

.b.red:hover {
    background-color: var(--red-hover);
}

.b.orange {
    background-color: var(--orange);
    transition: background-color 0.5s ease;
}

.b.orange:hover {
    background-color: var(--orange-hover);
}

.b.green {
    background-color: var(--green);
    transition: background-color 0.5s ease;
}

.b.green:hover {
    background-color: var(--green-hover);
}

.made {
    position: absolute;
    bottom:0%; left: 50%;
    margin-bottom: 0px;
    transform: translate(-50%, -50%);
    font-size: 0.75em;
}

.heart {
    color: var(--red);
}

.loader {
    border: 16px solid var(--light-gray); 
    border-top: 16px solid var(--blue); 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%; left: 50%;
    display: none;
    animation: spin 2s linear infinite;
    
}
  
@keyframes spin {
    
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg);}
}

@media screen and (max-width: 800px) {
    .game-main-container {
        height: 75vh;
    }

    .game-question {
        font-size: 2em;
    }

    .b {
        width: 150px;
        font-size: 1em;
    }
    .made {
        font-size: 1.75em;
    }
}

@media screen and (max-height: 570px) {
    .made {
        display: none;
    }
}